<article class="col-xs-12">
  {{#unless realm}}
  <h2>{{entity.type}}</h2>
  {{/unless}}
  <div class="row">
    {{#each entity.children as |child|}}
    <section class="col-xs-2">
      <h4><a href="{{child.path}}">{{child.name}}</a></h4>
      <h5>{{../gcType}}s: {{child.children.length}}</h5>
    </section>
    {{/each}}
  </div>
</article>
