<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm-8">

      <form action={{ action }} method="POST">
        <br><br>
        <h3 class="text-center">Create a new {{ name }}</h3>
        <div class="form-group">
          <input type="text" id="{{ paramName }}" name="{{ paramName }}" class="form-control" placeholder=" {{ bigName }}'s name">
        </div>

        <div class="center">
          <button type="submit" class="btn btn-primary" method="post">Create</button>
        </div>
      </form>

    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
