<div class="box">
  <div class="box--title">{{castleInfo.name}}</div>
  <div class="box--content">

      <div>
        <h3>Lieges</h3>
      </div>
      <div class="animal">
          King: {{kingdomInfo.king}}
      </div>
      <div class="animal">
          Queen: {{kingdomInfo.queen}}
      </div>
      <div class="animal">
        <a href="/kingdoms/{{kingdomInfo.name}}/castles">
          Number of castles: {{kingdomInfo.numCastles}}
        </a>
      </div>

  </div>
</div>
