<div>
    <div>
        <h2>{{castleSelected}}</h2>
    </div>
    <div>
        {{#each lieges as |liege|}}
        <div>
            <a href="/kingdoms/{{../kingdomSelected}}/castles/{{../castleSelected}}/lieges/{{@key}}/vassals">
                <h3>{{@key}}</h3>
            </a>
            <span># of vassals {{liege.vassals.length}}</span>
            <form action="/kingdoms/{{../kingdomSelected}}/castles/{{../castleSelected}}/lieges/{{@key}}/delete" method="POST">
                <button>Delete</button>
            </form>
        </div>
        <br> {{/each}}
        <div>
            <h3>Add a new liege</h3>
            <form action="/kingdoms/{{kingdomSelected}}/castles/{{castleSelected}}" method="POST">
                <label for="liege">Liege</label>
                <input type="text" id="liege" name="liege" placeholder="Enter liege name">
                <input type="submit" name="submit" value="Add">
            </form>
        </div>
    </div>
</div>