<h2>Castles of {{kingdomName}}</h2>

<div class="box">
  <!-- <div class="box--title">{{kingdoms}}</div> -->
  <div class="box--content">
    {{#each castles as |castle|}}
    <div class="castle">
      <a href="/kingdoms/{{../kingdomName}}/{{castle.name}}">{{castle.name}}</a>
      <p># of lieges: {{castle.lieges.length}}</p>
      <!-- <form class="remove" action="/species/{{../species}}/animals/{{animal}}/release" method="post">
        <button>Release</button>
      </form> -->
    </div>
    {{/each}}
  </div>
</div>


<div class="box">
  <div class="box--title">Add Castle</div>
  <div class="box--content">
    <form action="/kingdoms/{{kingdomName}}" method="POST">
      <input type="text" name="castleName" id="castleName" placeholder="Castle Name">
      <input type="submit" value="Add New Castle" method="post">
    </form>
  </div>
</div>
