<div class="container">
	<h2 class="text-center">Castles of {{kingdomName}}</h2>

	{{#each castles as |castle|}}
	  <div class="card">
	  	<div class="details">
		    <h2><a href="/kingdoms/{{../kingdomName}}/{{castle.name}}">{{castle.name}}</a></h2>
		    <span>
		    	<p><b># of Lieges:</b> {{castle.lieges.length}}</p>
		    </span>
		  </div>
	  </div>
	{{/each}}

	<div class="card">
    <div class="box--title"><h2>Add Castle</h2></div>
    <div>
			<form action="/kingdoms/{{kingdomName}}" method="POST">
			  <div class="form-group">
			    <input class="form-control" type="text" name="castleName" id="castleName" placeholder="Castle Name">
			    <br>
			    <input type="submit" class="btn">
			  </div>
			</form>
    </div>
  </div>
  
</div>