{{kingdomName}}
<ul class="kinglist">
<div href = "http://localhost:3000/kingdom/{{kingName}}">{{kingName}}<br></br></div>
</ul>
<ul class="queenlist">
<div>{{queenName}}<br></br></div>
</ul>
<ul class="castlelist">
  {{#each castles}}

<a href = "http://localhost:3000/kingdom/
{{kingdomName}}/castle/{{name}}">{{name}}<br></br></a>

  {{/each}}
</ul>
<a href = "http://localhost:3000/">Go Back To the main kingdom screen<br></br></a>
some other plain text here
