<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="items">	
	

  {{#each items as |item|}}
    <div class="item">
    <a href="./{{item.id}}/">
    {{item.name}}
    </a>
    {{#each item.display as |display|}}
    	{{display}}
    {{/each}}
    </div>

  {{/each}}
</div>
