<h2><a href="/kingdoms">All Kingdoms</a></h2>

<div class="box">
  <div class="box--title">Castles of {{kingdomName}} Kingdom. Id number {{kingdomId}}</div>
  <div class="box--content">
    {{#each castles as |castle|}}
      <div class="castle">
        <a href="/kingdoms/:kingdomId/:lieges">{{castle.name}}</a>
        <h5> Castle Name: {{castle.name}} </h5>
        <h5> Number of Lieges: {{castle.liegeIds.length}} </h5>
      </div>
    {{/each}}
  </div>
</div>

<div class="box">
  <div class="box--title">Add Castle</div>
  <div class="box--content">
    <form action="/kingdoms/:kingdomId" method="POST">
      <input type="text" name="castleName" id="castleName" placeholder="Castle Name">
      <input type="hidden" name="kingdomId" id="kingdomId" value= {{kingdomId}}>
      <input type="submit" value="Add New Castle" method="post">
    </form>
  </div>
</div>
