<div>
  {{#each allKingdoms as |kingdom|}}
    <div>
      <a href="/kingdoms/{{kingdomName}}">
        {{kingdom.kingdomName}}
      </a>
      {{kingdom.king}}
      {{kingdom.queen}}
      {{kingdom.castles.length}}
    </div>
  {{/each}}
</div>
