<h2>Kingdoms</h2>
<hr>
<ul class="demo-list-icon mdl-list">
{{#each allKingdoms as |kingdom| }}
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">business</i>
    Kingdom: <a href="/kingdoms/{{@key}}">{{@key}}</a><br>
    King: {{kingdom.King}}<br>
    Queen: {{kingdom.Queen}}<br>
    Castle Count: {{kingdom.CastleCount}}<br>
    </span>
  </li>
{{/each}}
</ul>