<div>
    <div><h2>Kingdoms</h2></div>
    <div>
        {{#each getAllKingdoms as |kingdom|}}
        <div>
            <a href="/kingdoms/{{@key}}"><h3>{{@key}}</h3></a>
            <ul>
                <li>King: {{kingdom.king}}</li>
                <li>Queen: {{kingdom.queen}}</li>
                <li># of Castles: {{ObjCount kingdom.castles}}</li>
                <br>
            </ul>
            <form action="/kingdoms/{{@key}}/delete" method="POST">
                <button>Delete</button>
            </form>
        </div>
        {{/each}}
        <div>
            <h3>Add a new kingdom</h3>
            <form action="/kingdoms" method="POST">
                <label for="kingdom">Kingdom</label>
                <input type="text" id="kingdom" name="kingdom" placeholder="Enter kingdom name">
                <label for="king">King</label>
                <input type="text" id="king" name="king" placeholder="Enter King name">
                <label for="queen">Queen</label>
                <input type="text" id="queen" name="queen" placeholder="Enter Queen name">

                <input type="submit" name="submit" value="Add">

            </form>
        </div>
    </div>
</div>