<h2><a href="/kingdoms">All Kingdoms</a></h2>

<div class="box">
  <!-- <div class="box--title">{{kingdoms}}</div> -->
  <div class="box--content">
    {{#each kingdoms as |kingdom|}}
    <div class="kingdom">
      <a href="/kingdoms/{{kingdom.name}}">{{kingdom.name}}</a>
      <p>King: {{kingdom.king}}</p>
      <p>Queen: {{kingdom.queen}}</p>
      <p># of castles: {{kingdom.castles.length}}</p>
      <!-- <form class="remove" action="/species/{{../species}}/animals/{{animal}}/release" method="post">
        <button>Release</button>
      </form> -->
    </div>
    {{/each}}
  </div>
</div>


<div class="box">
  <div class="box--title">Add Kingdom</div>
  <div class="box--content">
    <form action="/kingdoms" method="POST">
      <input type="text" name="kingdomName" id="kingdomName" placeholder="Kingdom Name">
      <input type="text" name="kingName" id="kingName" placeholder="King Name">
      <input type="text" name="queenName" id="queenName" placeholder="Queen Name">
      <input type="submit" value="Add New Kingdom" method="post">
    </form>
  </div>
</div>

