<h2><a href="/kingdoms">All kingdoms</a></h2>

<div class="box">
  <div class="box--content">
    {{liegeInfo.name}}
    {{#each liegeInfo.vassals as |vassal|}}
    <div class="animal">
      <b> Vassals Name: </b> {{vassal}}
    </br>
    </div>
    {{/each}}
  </div>
</div>

<div class="box">
  <div class="box--title">Add Vassal</div>
  <div class="box--content">
    <form action="/kingdoms/{{kingdomname}}/{{castlename}}/{{liegename}}" method="POST">
      <input type="text" name="name" id="name" placeholder="Name">
      <input type="submit" value="Add New Vassals" method="post">
    </form>
  </div>
</div>
