<h2>Vassals of {{liegeName}}</h2>

<div class="box">
  <!-- <div class="box--title">{{kingdoms}}</div> -->
  <div class="box--content">
    {{#each vassals as |vassal|}}
    <div class="vassal">
      Vassal's name: {{vassal}}</a>
      <!-- <form class="remove" action="/species/{{../species}}/animals/{{animal}}/release" method="post">
        <button>Release</button>
      </form> -->
    </div>
    {{/each}}
  </div>
</div>


<div class="box">
  <div class="box--title">Add Vassal</div>
  <div class="box--content">
    <form action="/kingdoms/{{kingdomName}}/{{castleName}}/{{liegeName}}" method="POST">
      <input type="text" name="vassalName" id="vassalName" placeholder="Vassal Name">
      <input type="submit" value="Add New Vassal" method="post">
    </form>
  </div>
</div>