<h1>Kingdom</h1>
<h1>{{name}}</h1>
<h1>{{kingdom.king}}</h1>
<h1>{{kingdom.queen}}</h1>
{{#each castles as |castle| }}
  <p><a href='{{../name}}/castle/{{castle}}'>{{castle}}</a></p>
  <p>{{../name}} <------Name</p>
{{/each}}
