<div class="row">
  <div class="col-sm-6">
    <h3>Castles for {{data.Kingdom}}</h3>
  </div>
</div>
{{#each data.Castles as |castle|}}
<div class="row">
  <div class="col-sm-6">
    <a class ="btn btn-info" href="/kingdoms/{{../data.id}}/{{castle.id}}">
      {{castle.name}}
    </a>
    Lieges:
    {{castle.Lieges.length}}
  </div>
</div>
{{/each}}
<div class="row">
  <div class="col-sm-6">
Add Castle
  </div>
</div>
    <form action="/kingdoms/{{kingdomId}}/castles" method="POST">
      <div class="row">
        <div class="col-sm-6">
      <input type="text" name="castleName" id="name" placeholder="Castle">
    </div>
  </div>

      <div class="row">
        <div class="col-sm-6">
      <input type="submit" class="btn btn-success" value="Add New Castle" method="post">
    </div>
  </div>
    </form>
