<div class="mdl-cell mdl-cell--5-col mdl-cell--2-offset">
  <h2>{{liege}}</h2>

  <hr>
  <ul class="demo-list-icon mdl-list">
  {{#each allVassals.Vassals }}
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon">person</i>
        <p>{{this}} </p>
      </span>
    </li>
  {{/each}}
  </ul>
</div>
<div class="mdl-cell mdl-cell--2-col mdl-cell--1-offset">
  <h4>Add New Vassal</h4>
  <form action="/kingdoms/{{kingdom}}/castles/{{castle}}/lieges/{{liege}}/vassals" method="POST" id="submit">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" name="vassal">
      <label class="mdl-textfield__label" for="vassal">Vassal</label>
    </div>
    <br>
    <button type="submit" form="submit" value="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Submit
    </button>
  </form>
</div>