<div>
  {{kingdom}}
    <div>
      <div>
        {{castle}}
        <div>
          {{liege}}

          {{#each allVassals as |vassal|}}
            <div>
            {{vassal}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div>
  <h2>Add Vassal</h2>
  <div>
    <form action="/kingdoms/{{kingdom}}/{{castle}}/{{vassal}}" method="post">
      <label>Vassal: </label>
      <input type="text" name="vassalName" id="vassalName" placeholder="Name">

      <input type="submit" value="Add New Vassal" method="post">
    </form>
  </div>
</div>
