<h2><a href="/kingdoms">All Kingdoms</a></h2>
<h2><a href="/kingdoms/{{kingdom}}">{{kingdom}}'s Castles</a></h2>

<div class="box">
  <div class="box--title">{{castle}}</div>
  <div class="box--content">
    {{#each allLieges as |liege|}}
      <div class="liege">
        <a href="/kingdoms/{{../kingdom}}/castles/{{../castle}}/lieges/{{liege.name}}">{{liege.name}}</a>
        <ul>
          <li>Vassals: {{liege.vassals}}</li>
        </ul>
      </div>
    {{/each}}
  </div>
</div>

<div class="box">
  <div class="box--title">Add Liege</div>
  <div class="box--content">
    <form action="/kingdoms/{{kingdom}}/castles/{{castle}}/lieges" method="POST">
      <input type="text" name="name" id="name" placeholder="Name">
      <input type="submit" value="Add New Liege" method="post">
    </form>
  </div>
</div>
